{% extends 'main.html' %}

{% load static %}

{% block title %}Delete room{% endblock %}

{% block content %}
  Opravdu chcete smazat místnost <b>{{ room.name }}</b>, která obsahuje {{ message_count }} zpráv.
  <div class="yes">
    <a href="{% url 'delete_room_yes' room.id %}">Yes</a> <!-- pokud ano, tak se zavolá funkce delete_room_yes v views.py na kterou se dostanu přes
    url.py, kde zavolám metodu delete_room_yes v views.py - musím tedy nastavit views.py(funkci), vložit cestu k funkci do urls.py a
     zde v < a href"{% url 'delete_room_yes' room.id %}" vložím odkaz jak se na tu funkci dostat-->
  </div>
  <div class="no">
    <a href="{% url 'rooms' %}">No</a>
  </div>
{% endblock %}