{% extends 'main.html' %}

{% block title %}Room: {{ room.name }}{% endblock %}

{% block content %}
    <div class="room-descr">
        You are in room <b>{{ room.name }}</b> <br>
        Description: {{ room.description }}
    </div>

    <div class="message-form">
        <form action="" method="POST"> <!-- TODO add action -->
            <label for="body">Message: </label>
            <textarea name="body" id="body" rows="1" cols="100"> </textarea>
            <input type="submit" value="Send">
        </form>
    </div>

    <div class="messages-box">
    {% for message in messages %}
        <div class="other-message"><b>{{ message.user }}:</b> {{ message.body }}</div>
        <!-- TODO add my-message -->
    {% endfor %}
    </div>
{% endblock %}