{% extends 'main.html' %}

<!--{% load django_browser_reload %} -->

{% block title %}Room: {{ room.name }}{% endblock %}

{% block content %}
    <div class="room-descr">
        You are in room <b>{{ room.name }}</b> <br>
        Description: {{ room.description }}
    </div>

    <div class="message-form">
        <form action="" method="POST"> <!-- TODO add action -->
            {% csrf_token %}
            <label for="body">Message: </label>
            <textarea name="body" id="body" rows="1" cols="100"> </textarea>
            <input type="submit" value="Send">
         <!--   {% django_browser_reload_script %} --> <!-- pokud to sem nedám tak se mi zpráva nezobrazí - musel bych to ručně reloadovat stránku -->
        </form>
    </div>

    <div class="messages-box">
    {% for message in messages %}
        {% if message.user == user %}
        <div class="my-message">
                <div class="my-message-info">
                    <span class="message-user">{{ message.user }}</span>
                    <span class="message-time">{{ message.created }}</span>
                </div>
                <div class="my-message-body">{{ message.body }}</div>
            </div>
        {% else %}
            <div class="other-message">
                <div class="other-message-info">
                    <span class="message-user">{{ message.user }}</span>
                    <span class="message-time">{{ message.created }}</span>
                </div>
                <div class="other-message-body">{{ message.body }}</div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}